@import './index.scss';
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /* max-width: 500px;
  border: 1px solid mediumblue; */
  margin: auto;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: end;
  @include mq(768px) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
